@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --display-mobile: 375px;
  --display-desktop: 1440px;

  --colors-primary-moderate-blue: hsl(238, 40%, 52%);
  --colors-primary-soft-red: hsl(358, 79%, 66%);
  --colors-primary-light-grayish-blue: hsl(239, 57%, 85%);
  --colors-primary-pale-red: hsl(357, 100%, 86%);

  --colors-neutral-dark-blue: hsl(212, 24%, 26%);
  --colors-neutral-grayish-blue: hsl(211, 10%, 45%);
  --colors-neutral-light-gray: hsl(223, 19%, 93%);
  --colors-neutral-very-light-gray: hsl(228, 33%, 97%);
  --colors-neutral-white: hsl(0, 0%, 100%);

  --font-size: 16px;
  --font-family: "Rubik", sans-serif;
  --font-weight-light: 400;
  --font-weight-neutral: 500;
  --font-weight-bold: 700;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  background-color: var(--colors-neutral-light-gray);
}

button {
  border: none;
  &:not(.vote) {
    background-color: transparent;
  }
}

.comments {
  margin: 32px 15px;
}

.comment {
  border-radius: 10px;
  padding: 10px;

  background-color: var(--colors-neutral-white);

  display: grid;
  grid-template-columns: 40px 120px auto;
  .comment__avatar {
    grid-column: 1/2;

    width: 40px;
    height: auto;
  }

  .comment__username {
    grid-column: 2/3;

    /* margin: 0 0 0 10px; */

    font-weight: var(--font-weight-bold);

    display: flex;
    align-items: center;
  }

  .comment__createdAt {
    grid-column: 3/4;

    white-space: nowrap;

    display: flex;
    align-items: center;
  }

  .comment__content {
    grid-column: 1/5;
    font-weight: var(--font-weight-light);
  }

  .comment__score {
    grid-row: 5/6;

    display: flex;
    flex-direction: row;
  }
}

.CRUD {
  grid-row: 5/6;
  grid-column: 4/5;

  .CRUD__btn{
    white-space: nowrap;
  }
}
